---
---
@import url(https://fonts.googleapis.com/css?family=Abel|Open+Sans:300,300italic|EB+Garamond);
@import "normalize";
@import "syntax";
@import "variables";
@import "layout";
@import "fonts";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#background {
  background: $background-sticky-panel no-repeat center center fixed;
  position: fixed;
  width: 100%;
  height: 100%;

  @media screen and (max-width: $screen-mobile-max) {
    display: none;
  }
}

header, footer {
  border-bottom: 1px solid $section-title-color;
}

header::before {
  content: "01. ";
  @include section-header();
}

footer::before {
  content: "02. ";
  @include section-header();
}

article {

  //@media screen and (min-width: $screen-tablet-min) { // TODO decide whether to show on mobile
  position: relative;
  padding-left: 60px;
  margin: 50px 0;

  &.ihomer_philosophy::before {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    content: "";
    background: url('/icons/png/icon_introduction.png');
    background-image: url('/icons/svg/icon_introduction.svg');
    background-repeat: no-repeat;
  }
  //}
}
