<footer>
  <section id="toc" class="hidden-phone">
    <header>Table of contents</header>

    <div data-toggle-target="home">
      <div>
        <h3>&nbsp;</h3>
        <h2 class="toggle" data-toggle="home">
          <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
        </h2>
      </div>
    </div>

    <div data-toggle-target="crew">
      <div>
        <h3>{{site.crew}}</h3>
        <h2 class="toggle" data-toggle="crew">Crew</h2>
      </div>

      <div>
        <h3>{{site.crew}}</h3>
        <h2>Crew</h2>
      </div>
      <div>
        <h3>{{site.crew}}</h3>
        <h2>Crew</h2>
      </div>
    </div>

    <div data-toggle-target="work">
      <div>
        <h3>{{site.work}}</h3>
        <h2 class="toggle" data-toggle="work">
          <a href="{{ "/work" | prepend: site.baseurl }}">Work</a>
        </h2>
      </div>

      <div>
        <h3>{{site.work}}</h3>
        <h2>Work</h2>
      </div>
      <div>
        <h3>{{site.work}}</h3>
        <h2>Work</h2>
      </div>
    </div>

    <div data-toggle-target="anders">
      <div>
        <h3>&nbsp;</h3>
        <h2 class="toggle" data-toggle="anders">Een beetje anders</h2>
      </div>
    </div>
  </section>
  <section id="contact" class="hidden-phone">
    <header>Contact</header>
    <h2 class="map">Dongen</h2>
    <p>
      Hoge Ham 85<br/>
      5104 JC&nbsp;&nbsp;Dongen
    </p>
    <h2>Valkenswaard</h2>
    <p>
      John F. Kennedylaan 3<br/>
      5555 XC&nbsp;&nbsp;Valkenswaard
    </p>
    <p></p>
    <p>
      <i class="fa fa-envelope-o contact-icon"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <br/>
      <i class="fa fa-mobile contact-icon"></i><a href="tel:{{ site.mobile }}">{{ site.mobile }}</a>
    </p>
  </section>
  <section id="copyright">
    &copy; 2015-{{site.time | date: '%Y' }} IHOMER ALL RIGHTS RESERVED
  </section>
</footer>
