@mixin section-header {
  font: $section-number-font;
  color: $section-title-color;
}

@mixin section-title {
  font: $section-title-font;
  color: $section-title-color;
  border-bottom: 1px solid $section-title-color;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  color: $title-color;
  letter-spacing: 5.9px;
  text-transform: uppercase;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 32px;
  color: #6A6A6A;
}

.navigation-small-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #808080;
  font-weight: 300;
}

.navigation-title {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  color: $title-color;
  letter-spacing: 4.7px;
}
