h1 {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  color: $title-color;
  letter-spacing: 5.9px;
  text-transform: uppercase;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 32px;
  color: $body-color;
}

.navigation-title {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  color: $title-color;
  letter-spacing: 4.7px;
}
