main {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  min-height: 100%;
  background-color: white;
  padding: 40px;

  @media screen and (max-width: $screen-mobile-max) {
    width: 100%;
  }

  @media screen and (min-width: $screen-desktop-min) and (max-width: $screen-desktop-max) {
    width: 40%;
  }

  @media screen and (min-width: $screen-large-desktop-min) {
    width: calc(#{$main-fixed-width});
  }
}

aside {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    position: relative;
    width: 80%;
    height: 80%;
  }

  & img {
    box-shadow: 0 0 7px rgba(0, 0, 0, .5);
  }

  @media screen and (max-width: $screen-mobile-max) {
    display: none;
  }

  @media screen and (min-width: $screen-desktop-min) and (max-width: $screen-desktop-max) {
    width: 60%;
  }

  @media screen and (min-width: $screen-large-desktop-min) {
    width: $aside-large-desktop-width;
  }
}
