@mixin hidden-phone {
  @media screen and (max-width: $screen-mobile-max) {
    display: none !important;
  }
}

@mixin visible-phone {
  @media screen and (max-width: $screen-mobile-max) {
    display: block !important;
  }

  @media screen and (min-width: $screen-desktop-min) {
    display: none !important;
  }
}

@mixin hidden-desktop {
  @media screen and (min-width: $screen-desktop-min) {
    display: none !important;
  }
}

@mixin section-header {
  font: $section-number-font;
  color: $section-title-color;
}

@mixin section-divider($pos: 'bottom') {
  border-#{$pos}: 1px solid $section-title-color;
}

@mixin section-title {
  font: $section-title-font;
  color: $section-title-color;
  @include section-divider();
}

@mixin list-before() {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  content: "";
}

@mixin icon-before($icon) {
  @include list-before();
  background: url('#{$icon-dir}/png/icon_#{$icon}.png');
  background-image: url('#{$icon-dir}/svg/icon_#{$icon}.svg');
  background-repeat: no-repeat;
}

@mixin navigation-small-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #808080;
  font-weight: 300;
}
