---
layout: default
---
{% if page.avatar %}<img src="{{ page.avatar | prepend: "/img/avatars/" | prepend: site.baseurl }}" />{% else %}<img src="https://placekitten.com/200/300"/>{% endif %}
<h1>{{ page.title }}</h1>
<table>
  <tbody>
  <tr>
    <td>Woonplaats</td>
    <td>{{ page.city }}</td>
  </tr>
  <tr>
    <td>Passie</td>
    <td>{{ page.passion }}</td>
  </tr>
  <tr>
    <td>Eten</td>
    <td>{{ page.food }}</td>
  </tr>
  <tr>
    <td>Vakantie</td>
    <td>{{ page.vacation }}</td>
  </tr>
  <tr>
    <td>TV-programma</td>
    <td>{{ page.tv }}</td>
  </tr>
  <tr>
    <td>Expertise</td>
    <td>{{ page.expertise }}</td>
  </tr>
  </tbody>
</table>
