<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="background">
    </div>

    <aside>{{page.aside}}</aside>
    <main>
      <header>{{page.title}}</header>

      {{content}}

      <footer>
        <section id="toc">
          <header>Table of contents</header>
          <h2>Crew</h2>
          <h2>Work</h2>
          <h2>Een beetje anders</h2>
        </section>
        <section id="contact">
          <header>Contact</header>
          <h2 class="map">Rijen</h2>
        </section>
      </footer>
    </main>
  </body>

</html>
