---
crew: Twenty-six
work: TODO
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="background">
    </div>

    <aside>
      <div>
        {% if page.context %}
        {% include context/{{page.context}} %}
        {% else %}
        {% include context/default.html %}
        {% endif %}
      </div>
    </aside>
    <main>
      <header>{{page.title}}</header>

      {{content}}

      {% include toc.html %}
    </main>

    {% include footer.html %}
  </body>

</html>
