---
---
@import url(https://fonts.googleapis.com/css?family=Abel|Open+Sans:300,300italic|EB+Garamond);
@import "syntax";
@import "variables";
@import "mixins";
@import "layout";
@import "fonts";

* {
  box-sizing: border-box;

  &::before {
    box-sizing: border-box;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

#background {
  background: $background-sticky-panel no-repeat center center fixed;
  position: fixed;
  width: 100%;
  height: 100%;

  @media screen and (max-width: $screen-mobile-max) {
    display: none;
  }
}

main > header {
  @include section-title();
}

main > header::before {
  content: "01. ";
  @include section-header();
}

section {
  & > header {
    @include section-title();
    margin: 50px 0;

    &::before {
      @include section-header();
    }
  }
  & h2 {
    @extend h1;

    &.map::before {
      @include icon-before('location');
    }
  }

  &#toc {
    > header::before {
      content: "02. ";
    }

    > div {
      margin: 50px 0;
      display: flex;

      &::before {
        @include list-before();
        color: $list-before-color;
        font-weight: $light-font-weight;
        content: "\ff0d"; // large minus sign
      }


      &:hover {
        &::before {
          content: "\ff0b"; // large plus sign
        }

        > div:first-child h3 {
          display: block;
        }

        > div:not(:first-child) {
          display: block;
        }
      }

      > div {
        display: none;
        flex: 1;

        &:first-child {
          display: block;
          flex: 2;

          h3 {
            display: none;
          }
        }
      }
    }

    h2, h3 {
      margin: 0;
    }

    h3 {
      @include navigation-small-title;
      position: absolute;
      bottom: 100%;
    }
  }

  &#contact > header::before {
    content: "03. ";
  }
}

article, section {
  margin: 50px 0;
}

article, section > *:not(header) {
  padding-left: 60px;
  position: relative;
}

article {

  //@media screen and (min-width: $screen-tablet-min) { // TODO decide whether to show on mobile

  &#ihomer_philosophy::before {
    @include icon-before('introduction');
  }
  //}
}
